<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender_DEBUG" type="log4net.Appender.RollingFileAppender">
      <threshold value="DEBUG" />
      <file value="C:\Logs\settings4net\settings4net_DEBUG.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%-5level][Thread %thread] : %message%  //with// %property //by// %logger{3} || %exception%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender_INFO" type="log4net.Appender.RollingFileAppender">
      <threshold value="INFO" />
      <file value="C:\Logs\settings4net\settings4net_INFO.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%-5level][Thread %thread] : %message%  //with// %property //by// %logger{3} || %exception%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender_WARN" type="log4net.Appender.RollingFileAppender">
      <threshold value="WARN" />
      <file value="C:\Logs\settings4net\settings4net_WARN.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%-5level][Thread %thread] : %message%  //with// %property //by// %logger{3} || %exception%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender_DEBUG" />
      <appender-ref ref="RollingFileAppender_INFO" />
      <appender-ref ref="RollingFileAppender_WARN" />
    </root>
  </log4net>
</configuration>